Repository Armor-test/logging-module-384, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/team-research, @Armor-test/team-notifications, @Armor-test/dept-reporting, @Armor-test/unit-devops, @Armor-test/dept-api, @Armor-test/grp-api, @Armor-test/squad-mobile, @Armor-test/grp-search, @Armor-test/squad-apps, @Armor-test/squad-database, @Armor-test/team-frontend, @Armor-test/dept-release, @Armor-test/grp-reporting, @Armor-test/squad-ml, @Armor-test/squad-frontend, @Armor-test/grp-storage, @Armor-test/squad-tooling, @Armor-test/squad-product, @Armor-test/unit-cloud, @Armor-test/team-governance, @Armor-test/dept-data, @Armor-test/squad-qa, @Armor-test/team-logging, @Armor-test/unit-governance, @Armor-test/unit-test, @Armor-test/team-reporting, @Armor-test/team-security, @Armor-test/dept-logging, @Armor-test/squad-performance, @Armor-test/grp-ui, @Armor-test/squad-cloud, @Armor-test/dept-notifications, @Armor-test/squad-search, @Armor-test/squad-research, @Armor-test/dependency-team, @Armor-test/security, @Armor-test/auth-team, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/infra

.github/CODEOWNERS:

# CODEOWNERS file for logging-module-384
# Global owners - will be requested for all PRs
* @Armor-test/team-research @Armor-test/team-notifications @Armor-test/dept-reporting

# Directory ownership
/dist/ @Armor-test/unit-devops @Armor-test/dept-api @Armor-test/grp-api
/core/ @Armor-test/squad-mobile @Armor-test/grp-search
/spec/ @Armor-test/squad-apps @Armor-test/squad-database
/db/ @Armor-test/team-frontend @Armor-test/dept-release
/assets/ @Armor-test/grp-reporting @Armor-test/squad-ml @Armor-test/squad-frontend
/src/ @Armor-test/grp-storage @Armor-test/squad-tooling
/lib/ @Armor-test/squad-product @Armor-test/team-notifications @Armor-test/team-frontend
/models/ @Armor-test/unit-cloud @Armor-test/team-governance
/shared/ @Armor-test/grp-reporting @Armor-test/team-research
/migrations/ @Armor-test/squad-ml @Armor-test/dept-data @Armor-test/dept-reporting
/middleware/ @Armor-test/squad-qa @Armor-test/team-notifications
/views/ @Armor-test/team-logging @Armor-test/unit-governance @Armor-test/unit-test

# File type ownership
*.graphql @Armor-test/unit-test @Armor-test/grp-search @Armor-test/team-reporting
*.c @Armor-test/team-security @Armor-test/squad-ml
*.js @Armor-test/team-research @Armor-test/dept-reporting
*.h @Armor-test/dept-logging @Armor-test/squad-performance @Armor-test/grp-ui
*.scss @Armor-test/team-reporting @Armor-test/squad-performance
*.swift @Armor-test/team-research @Armor-test/squad-cloud
*.tf @Armor-test/unit-test @Armor-test/squad-frontend
*.properties @Armor-test/team-reporting @Armor-test/dept-notifications @Armor-test/grp-reporting
*.yaml @Armor-test/dept-data @Armor-test/team-reporting @Armor-test/squad-search
*.rs @Armor-test/squad-performance @Armor-test/team-security @Armor-test/squad-research

# Security and special files
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
.github/workflows/ @Armor-test/ci-team @Armor-test/devops
Dockerfile @Armor-test/devops @Armor-test/infra

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/grp-storage, @Armor-test/squad-tooling

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/team-research, @Armor-test/team-notifications, @Armor-test/dept-reporting

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/team-research, @Armor-test/team-notifications, @Armor-test/dept-reporting

Add src/main.py
  src/main.py
Owners: @Armor-test/grp-storage, @Armor-test/squad-tooling

Add src/index.js
  src/index.js
Owners: @Armor-test/team-research, @Armor-test/dept-reporting
